@model ProgressTracker.Models.LargeTask;
@{
    int numCompleteObjectives=0;
}

<div class="container task-header">
    <div class="task-header-left">
        <button class="btn" id="delete-task-btn" task-id="@Model.Id"><i class="bi bi-trash icon-colour" ></i></button>
    </div>
    <div class="task-header-centre">
        <h4>@Model.Name</h4>
    </div>
    <div class="task-header-right">
        <button class="btn" id="update-task-btn"
            data-bs-toggle="modal"
            data-bs-target="#taskModal"
            data-task-id="@Model.Id"
            data-objective-count= 10>
            <i class="bi bi-pencil icon-colour"></i>
        </button>
    </div>
</div>
<div class="sm-task-stats">
    @if (Model.Objectives != null && Model.Objectives.Any())
    {
        @foreach (var objective in Model.Objectives)
        {
            if (objective.IsComplete)
            {
                numCompleteObjectives++;
            }
        }
        <i class="bi bi-plus-circle"></i>
        <label>You have completed @numCompleteObjectives/@Model.Objectives.Count() objectives</label>
    }
</div>
<div class="sm-task-body">
    <div class="form-check">
        @if (Model.Objectives != null && Model.Objectives.Any())
        {
            @foreach (var objective in Model.Objectives)
            {
                @if (objective != null && !string.IsNullOrWhiteSpace(objective.Name))
                {
                    <div class="sm-form-check">
                        <p>Complete: @objective.IsComplete</p>
                        <p>@objective.Name</p>
                        <p>Requires @objective.Hours hours to complete</p>
                    </div>
                }
            }
        }
    </div>
</div>