@model ProgressTracker.Models.LargeTask;
@{
    int numCompleteObjectives = 0;
    int totalObjectives = Model.Objectives?.Count() ?? 0;
    if (totalObjectives > 0)
    {
        if (Model.Objectives != null)
            numCompleteObjectives = Model.Objectives.Count(o => o.IsComplete);
    }
    int completionPercentage = totalObjectives > 0 ? (int)((double)numCompleteObjectives / totalObjectives * 100) : 0;
}

<div class="container task-header" data-task-id="@Model.Id">
    <div class="task-header-left">
        <button class="btn" id="delete-task-btn" task-id="@Model.Id"><i class="bi bi-trash icon-colour" ></i></button>
    </div>
    <div class="task-header-centre" data-task-id="@Model.Id">
        <h4>@Model.Name</h4>
    </div>
    <div class="task-header-right">
        <button class="btn" id="update-task-btn"
            data-bs-toggle="modal"
            data-bs-target="#taskModal"
            data-task-id="@Model.Id"
            data-objective-count= 8>
            <i class="bi bi-pencil icon-colour"></i>
        </button>
    </div>
</div>
<div class="medium-objectives-list" data-task-id="@Model.Id">
    @if (Model.Objectives != null && Model.Objectives.Any())
    {
        var objectives = Model.Objectives;
        <div class="objective-left">
            @{
                var leftObjectives = objectives.Take(4).ToList();
                int leftPlaceholders = 4 - leftObjectives.Count;
            }
            @foreach (var objective in leftObjectives)
            {
                @if (objective != null && !string.IsNullOrWhiteSpace(objective.Name))
                {
                    <div class="objective-item">
                        <div class="objective-header">
                            <input class="objective-item-checkbox" data-objective-id="@objective.Id" type="checkbox" @(objective.IsComplete ? "checked" : "") />
                            <h4 class="objective-name">@objective.Name</h4>
                        </div>
                        @* <div class="objective-details">
                            <span class="objective-hours">⏳ @objective.Hours hours needed</span>
                        </div> *@
                    </div>
                }
            }
            @for (int i = 0; i < leftPlaceholders; i++)
            {
                <div class="objective-item-placeholder">
                    @*Placeholder*@
                </div>
            }
        </div>
        <div class="medium-plus-progress-circle" data-task-id="@Model.Id">
            <div class="outer">
                <div class="inner">
                    <div class="percentage percentage-large" data-percentage="@completionPercentage" data-task-id="@Model.Id">
                        <h5>Due:</h5>
                        <h5>@Model.DueDate.ToString("dd MMM HH:mm")</h5>
                    </div>
                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
                <circle cx="80" cy="80" r="70" stroke-linecap="round" stroke="#84592b" />
            </svg>
        </div>
        <div class="objective-right">
            @{
                var rightObjectives = objectives.Skip(4).ToList();
                int rightPlaceholders = 4 - rightObjectives.Count;
            }
            @foreach (var objective in rightObjectives)
            {
                @if (objective != null && !string.IsNullOrWhiteSpace(objective.Name))
                {
                    <div class="objective-item">
                        <div class="objective-header">
                            <input class="objective-item-checkbox" data-objective-id="@objective.Id" type="checkbox" @(objective.IsComplete ? "checked" : "") />
                            <h4 class="objective-name">@objective.Name</h4>
                        </div>
                        @* <div class="objective-details">
                            <span class="objective-hours">⏳ @objective.Hours hours needed</span>
                        </div> *@
                    </div>
                }
            }
            @for (int i = 0; i < rightPlaceholders; i++)
            {
                <div class="objective-item-placeholder">
                    @* placeholder *@
                </div>
            }
        </div>
    } 
    else
    {
        <div class="no-medium-large-objectives">
            <h4>Due: @Model.DueDate.ToLocalTime().ToString("dd MMM HH:mm")</h4>
            <h5>Add some Objectives to track your progress!</h5>
        </div>
    }
</div>