@model ProgressTracker.Models.SmallTask;
@{
    int numCompleteObjectives = 0;
    int totalObjectives = Model.Objectives?.Count() ?? 0;
    if (totalObjectives > 0)
    {
        if (Model.Objectives != null)
            numCompleteObjectives = Model.Objectives.Count(o => o.IsComplete);
    }
    int completionPercentage = totalObjectives > 0 ? (int)((double)numCompleteObjectives / totalObjectives * 100) : 0;
    
}

<div class="container task-header">
    <div class="task-header-left">
        <button class="btn" id="delete-task-btn" task-id="@Model.Id"><i class="bi bi-trash icon-colour" ></i></button>
    </div>
    <div class="task-header-centre" data-task-id="@Model.Id">
        <h4>@Model.Name</h4>
    </div>
    <div class="task-header-right">
        <button class="btn" id="update-task-btn"
            data-bs-toggle="modal"
            data-bs-target="#taskModal"
            data-task-id="@Model.Id"
            data-objective-count= 2>
            <i class="bi bi-pencil icon-colour"></i>
        </button>
    </div>
</div>
<div class="sm-task-stats" data-task-id="@Model.Id">
    <div class="progress-circle">
        <div class="outer">
            <div class="inner">
                <div class="percentage" data-percentage="@completionPercentage" data-task-id="@Model.Id">
                    <h5>Due:</h5>
                    <h5>@Model.DueDate.ToLocalTime().ToString("dd MMM HH:mm")</h5>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
            <circle cx="80" cy="80" r="70" stroke-linecap="round" stroke="#84592b" />
        </svg>
    </div>
</div>
<div class="sm-task-body" data-task-id="@Model.Id">
    <div class="objectives-list" data-task-id="@Model.Id">
        @if (Model.Objectives != null && Model.Objectives.Any())
        {
            @foreach (var objective in Model.Objectives)
            {
                @if (objective != null && !string.IsNullOrWhiteSpace(objective.Name))
                {
                    <div class="objective-item">
                        <div class="objective-header">
                            <input class="objective-item-checkbox" data-task-id="@Model.Id" data-objective-id="@objective.Id" type="checkbox" @(objective.IsComplete ? "checked" : "") />
                            <h4 class="objective-name">@objective.Name</h4>
                        </div>
                        @* <div class="objective-details">
                            <span class="objective-hours">⏳ @objective.Hours hours needed</span>
                        </div> *@
                    </div>
                }
            }
        }
        else {
            <h4>Add some Objectives to track your progress!</h4>
        }
    </div>
</div>